{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Bala Murali, a passionate UAV Engineer, AI Enthusiast, and Software Developer with over two years of experience in the drone industry.
          As a DGCA-certified UAV pilot and Team Lead at Detect Technologies, I have led successful UAV projects, managed site operations,
          and worked on cutting-edge drone technologies.

        </p>
        <p>
          I specialize in Python, C++, AI, and automation, focusing on drone software development,
          object detection, and mission planning. My experience spans data science, machine learning for drones,
          and system integration, making me proficient in building UAV solutions that merge AI with automation.

        </p>
        <p>
          Beyond work, I enjoy coding, exploring new tech, and writing about UAV advancements.
          Through this blog, I aim to share insights on drone technology, AI-driven automation,
          and UAV applications to help professionals and enthusiasts stay ahead in the field.

        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
